.NavbarItems {
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  background-color: white;
  box-shadow: none;
  transition: box-shadow 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
}

.medium {
  font-size: 32px;
}

.NavbarItems.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add any other styles you need for a sticky navbar */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  padding: 0;
  padding-right: 170px;
  padding-left: 170px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  text-decoration: none;
  color: white;
}
li {
  color: black;
}
.fa-bars,
.fa-times {
  list-style: none;
  color: black;
  padding-right: 20px;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    /* width: 70%; */
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: white;
    top: 0;
    left: -130%;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 0;
  }

  .menu-icons {
    display: block;
  }
}

.goToTopButton {
  position: fixed;
  /* display: flex;
  justify-content: flex-end; */
  height: 40px;
  width: 40px;
  /* right: 10; */
  /* bottom: 50; */
  color: white;
  background-color: black;
}
