.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 70px;
  gap: 40px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.text-container.highlighted {
  background-color: aliceblue;
  border-radius: 15px;
  margin: 0 2rem;
  padding: 20px 0;
  width: 100%;
}

.project-title {
  font-size: 37px;
  margin: 0 2rem;
  text-align: left !important;
  margin-bottom: 20px;
}

.contents-headline {
  margin: 0 2rem;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: left !important;
}

.stage-title {
  font-size: 27px;
  margin: 0 2rem;
  margin-bottom: 20px;
  text-align: left !important;
}

.stage-explanation-text {
  text-align: justify;
  margin: 0 2rem;
  margin-top: 0px !important;
  line-height: 35px;
  color: black;
  margin-bottom: 40px;
}

.stage-explanation-text.left-border {
  border-left: 3px solid black;
  padding: 20px 20px;
}

.image-portfolio {
  margin-top: 40px;
  width: 100%;
  height: auto;
  margin: 0 2rem;
  max-width: 100%;
}
.bulletpoints {
  list-style-type: none;
  line-height: 45px;
  margin: 0 3rem;
  text-align: left !important;
}

.contents-of-the-page {
  list-style-type: none;
  text-align: left !important;
}

.contents-of-the-page-li {
  border-left: 3px solid black;
  padding-left: 10px;
  height: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
  color: black;
  text-align: left !important;
}

.contents-of-the-page-li:hover {
  text-decoration: none;
  cursor: pointer;
}

.list-item {
  list-style: initial;
}

.goToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.goToTopButton:hover {
  background-color: #333;
}

.goToTopButton h2 {
  margin: 0;
  font-size: 16px;
}

.goToTopButton.show {
  opacity: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
