.container-project-portfolio {
  width: 100%;
  justify-content: center;
}

.dynamic-navigation {
  position: fixed;
  top: 50%;
}

.project-title-details {
  margin-top: 200px;
  margin-bottom: 0px;
  min-width: 60%;
}

.title-placeholder {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 150px;
  gap: 10px;
}

.introduction-text {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
}

.methods {
  margin-top: 10px;
}

.intro-text-1 {
  display: flex;
  flex-direction: column;
}

.intro-text-2 {
  display: flex;
  flex-direction: column;
}

.side-navigation {
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: -150px;
}

.paragraph {
  max-width: 70%;
}

.image-portfolio-mockup {
  /* width: auto;
  height: 400px; */
  width: 70%;
  margin-top: 70px;
}

.portfolio-text-container {
  display: flex;
  flex-direction: row;
  /* margin-left: 150px; */
  gap: 150px;
  justify-content: center;
}

.phase-text {
  margin-top: 70px;
  max-width: 420px;
  min-width: 420px;
  text-align: left;
}

hr {
  width: 50%;
  height: 1px;
  align-items: center;
  margin: auto;
  float: center;
  border: 0;
  border-top: 1px solid black;
  padding: 0;
  margin-top: 70px;
}

/* Animations */

.image-portfolio-mockup {
  visibility: hidden;
  visibility: visible\9; /*For old IE browsers IE6-8 */
}
.image-portfolio-mockup {
  visibility: visible;
  animation: slide 1s;
}
.image-portfolio-mockup::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
