body {
  margin: 0;
  padding: 0;
  /* font-family: "Abril Fatface", Cursive;
  font-size: 48px;
  font-family: "Poppins", Sans-Serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: "Lora", serif; */
  font-family: "Lato", Sans-Serif;
  font-size: 46px;
  font-family: "Catamaran", Sans-Serif;
  font-size: 17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
